In [1]:
# Importing Necessary modules

import sklearn 
import pandas as pd
import numpy as np
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,f1_score
from math import e,pi,exp,sqrt

In [2]:
# Loading the data

df=pd.read_csv('https://raw.githubusercontent.com/jbrownlee/Datasets/master/pima-indians-diabetes.csv')
df.columns=list('ABCDEFGHI')
df

      A    B   C   D    E     F      G   H  I
0     1   85  66  29    0  26.6  0.351  31  0
1     8  183  64   0    0  23.3  0.672  32  1
2     1   89  66  23   94  28.1  0.167  21  0
3     0  137  40  35  168  43.1  2.288  33  1
4     5  116  74   0    0  25.6  0.201  30  0
..   ..  ...  ..  ..  ...   ...    ...  .. ..
762  10  101  76  48  180  32.9  0.171  63  0
763   2  122  70  27    0  36.8  0.340  27  0
764   5  121  72  23  112  26.2  0.245  30  0
765   1  126  60   0    0  30.1  0.349  47  1
766   1   93  70  31    0  30.4  0.315  23  0

[767 rows x 9 columns]

Data is already cleaned, so we can directly give it to the model. We can also do preprocessing, to churn out accuracy

In [3]:
x_train,x_test,y_train,y_test=train_test_split(df.drop('I',axis=1),df["I"],test_size=0.2)

In [4]:
x_train

     A    B   C   D    E     F      G   H
668  9  154  78  30  100  30.9  0.164  45
56   0  100  88  60  110  46.8  0.962  31
518  6  129  90   7  326  19.6  0.582  60
464  0  124  56  13  105  21.8  0.452  21
307  0  128  68  19  180  30.5  1.391  25
..  ..  ...  ..  ..  ...   ...    ...  ..
760  9  170  74  31    0  44.0  0.403  43
703  4  110  76  20  100  28.4  0.118  27
514  3  163  70  18  105  31.6  0.268  28
737  2   99  60  17  160  36.6  0.453  21
759  2   88  58  26   16  28.4  0.766  22

[613 rows x 8 columns]

In [5]:
x_test

      A    B    C   D    E     F      G   H
557  11  103   68  40    0  46.2  0.126  42
494   6  166   74   0    0  26.6  0.304  66
692   7  129   68  49  125  38.5  0.439  43
490   2   89   90  30    0  33.5  0.292  42
391   1  131   64  14  415  23.7  0.389  21
..   ..  ...  ...  ..  ...   ...    ...  ..
352   1   90   62  12   43  27.2  0.580  24
361   5  103  108  37    0  39.2  0.305  65
585   8  143   66   0    0  34.9  0.129  41
488   8  194   80   0    0  26.1  0.551  67
727   2  175   88   0    0  22.9  0.326  22

[154 rows x 8 columns]

In [6]:
# Extracting the values

x_train=x_train.values
x_test=x_test.values
y_train=y_train.values
y_test=y_test.values

In [7]:
# Naive Bayes Class
class NaiveBayes:
    
    def summarize(self,x,y):
        s=set(y)
        d={}
        for i in range(len(y)):
            if(y[i] in d):
                d[y[i]].append(x[i])
            else:
                d[y[i]]=[x[i]]
        return d
    
    def mean(self,l):
        return sum(l)/len(l)
    
    def std(self,l):
        m=self.mean(l)
        l1=[(i-m)**2 for i in l]
        return (sum(l1)/len(l1))**0.5
    
    def calc(self,d):
        d1={}
        for i in d:
            d1[i]=[]
        for i in d:
            for j in zip(*d[i]):
                m=self.mean(j)
                s=self.std(j)
                d1[i].append([m,s])
        return d1
    
    def probability(self,x,m,s):
        exp1=e**((((x-m)/s)**2)*0.5)
        return (1/(((2*pi)**0.5)*s))*exp1
    
    def probability1(self,x, mean, stdev):
        exponent = exp(-((x-mean)*2 / (2 * stdev*2 )))
        return (1 / (sqrt(2 * pi) * stdev)) * exponent
        
    def fit(self,x,y):
        self.d=self.summarize(x,y)
        self.d1=self.calc(self.d)
        self.l=[]
        for i in self.d:
            self.l.append(len(self.d[i]))
    
    def predict(self,x):
        res=[]
        c=x.shape[1]
        for i in x:
            p=[]
            for j in self.d1:
                c1=self.l[j]
                for k in range(c):
                    c1*=self.probability1(i[k],self.d1[j][k][0],self.d1[j][k][1])
                p.append([j,c1])
            p.sort(key=lambda val:val[1])
            res.append(p[-1][0])
        return res

In [8]:
model=NaiveBayes()
model.fit(x_train,y_train)

In [9]:
y_pred=model.predict(x_test)

In [10]:
# Accuracy of the custom coded model on the test-set

print('Accuracy is: ',accuracy_score(y_test,y_pred))

Accuracy is:  0.6688311688311688

In [11]:
# F1-Score of the custom coded model on the test-set

print('F1-Score is: ',f1_score(y_test,y_pred,average='weighted'))

F1-Score is:  0.6704736588292028